# Getting Started

```bash
$ npm install {{{ package.name }}}
```

## With node-sass

```javascript
const husl = require('{{{package.name}}}')

sass.render({
    file: scss_filename,
    functions: {
        'husl($arg)': husl,
        'huslp($arg)': husl.p
    }
}, function (err, result) { /*...*/ })
```

## With gulp-sass

```javascript
const husl = require('{{{package.name}}}')

gulp.task('sass', function () {
    return gulp.src('./sass/**/*.scss')
    .pipe(sass({
        outputStyle: 'compressed',
        functions: {
            'husl($arg)': husl,
            'huslp($arg)': husl.p
        }
    }).on('error', sass.logError))
    .pipe(gulp.dest('./css'))
})
```
