# How to use

{{{ package.name }}} relies on an experimental Libsass (>= v3.0.0) feature. Use with caution.

```sass
husl((hue: 12.2, saturation: 100.0, lightness: 53.2, alpha: 0.9))
```

Returns a [Color](http://sass-lang.com/documentation/Sass/Script/Value/Color.html)
from a [Map](http://sass-lang.com/documentation/Sass/Script/Value/Map.html)
of hue, saturation, lightness, and alpha (optional) values.

```sass
husl(#ff0000)
```

Returns a [Map](http://sass-lang.com/documentation/Sass/Script/Value/Map.html)
of hue, saturation, lightness, and alpha values.
